.button {
    background: none;
    border: 0;
    box-sizing: border-box;
    padding: 3px 40px;
    box-shadow: inset 0 0 0 1px rgb(198, 197, 197);
    color: black;
    font-size: inherit;
    font-weight: 500;
    cursor: pointer;
    position: relative;
    vertical-align: middle;
}

    .button::before,
    .button::after {
      box-sizing: inherit;
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
    }
  
.draw {
    transition: color 0.25s;
}
.draw::before,
.draw::after {
    
    border: 1px solid transparent;
    width: 0;
    height: 0;
  }

 
  .draw::before {
    top: 0;
    left: 0;
  }

  
  .draw::after {
    bottom: 0;
    right: 0;
  }
  
  .draw:hover {
    color: black;
  }

  
  .draw:hover::before,
  .draw:hover::after {
    width: 100%;
    height: 100%;
  }

  .draw:hover::before {
    border-top-color:black;
    border-right-color: black;
    transition:
      width 0.25s ease-out,
      height 0.25s ease-out 0.25s;
  }

  .draw:hover::after {
    border-bottom-color: black; 
    border-left-color: black;
    transition: 
    border-color 0s ease-out 0.5s, 
      width 0.25s ease-out 0.5s,
      height 0.25s ease-out 0.75s; 
  }

  .button__del
  {
    position: fixed;
    top:110px;
    right: 3%;
    width: 8.5%;
    height: 25px;
    vertical-align: middle;
    border: none;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.639);
    color: white;
  }
  .button__store {
    border: none;
    border-right: 1px solid black;
    position: fixed;
    top:110px;
    right: 11.5%;
    cursor: pointer;
    width: 16.5%;
    height: 25px;
    color: black;
    background-color: white;
  }
  .button__store, .button__del
{
  display: none;
}
.button__store.lock, .button__del.lock
{
  display: none;
}


  .store__buy__button
{
    position: fixed;
    right: 90px;
    bottom: 90px;
    z-index: 10;
    transition: all 0.3s ease 0s;
}
.store__buy__button:hover
{
    -webkit-transform: translate(-7px, -7px);
    transform: translate(-7px, -7px);
    cursor: pointer;
}
.store__clear__button
{
    position: fixed;
    right: 30px;
    bottom: 90px;
    z-index: 10;
    transition: all 0.3s ease 0s;
}
.store__clear__button:hover
{
    -webkit-transform: translate(4px, -4px);
    transform: translate(4px, -4px);
    cursor: pointer;
}
.store__field__button
{
    position: fixed;
    right: 30px;
    bottom: 30px;
    z-index: 10;
}
.store__buy__button.lock
{
    display: none;
}
.store__clear__button.lock
{
    display: none;
}
.store__field__button.lock
{
    display: none;
}
.check__out__button
{
  height: 30px;
  margin: 0 0 20px 0; 
  padding: 3px 20px;
  background-color: rgb(255, 255, 255);
  font-family: 'Orbitron';
  border-radius: 3px;
  border: 1px solid black;
}
.check__out__button:hover
{
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}
@media (max-width:767px)
{
.store__clear__button, .store__buy__button, .store__field__button
{
    display: none;
}
.button__store, .button__del
{
  display: block;
}
}