
/* описание блоков с основным контентов */
/* описание текста на страницу */
.product__name
{
    font-family: 'Orbitron';
    font-style: normal;
    color: black;
    font-size: 30px;
    margin-left: 3%;
}
/* блоки с пеццей */
.main_content{
    text-align: center;
}
.main_content
{
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    margin: 20px 0px;
    justify-content: center; 
}
.main_content::after
{
    content: "";
    /* flex: auto;  */
}
.block__pizza
{
    border: 2px solid black;
    flex-basis: 350px;
    margin: 10px;
     
}
.pizza__name,.pizza__price,.pizza__description
{
    color: black;
    font-size: 20px;
    font-family: 'Orbitron';
    font-style: normal;
}
.pizza__name
{
    margin-top: 20px;
    font-weight: 1000;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.block__content
{
    background-color: #fff;
    padding: 20px;
    color: #fff;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: 85%;
}

.pizza__price__block
{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 15%;
}
.pizza__price
{
    width: 50%;
}
.add__button
{
    width: 50%;
}
@media (max-width:767px)
{
    .pizza__price__block
    {
        margin-bottom: 20px;
    }
}

.pizza__photo img
{
    width: 60%;
}
.pizza__photo:hover {
    
    
    -webkit-transform: translateY(7px);
    transform: translateY(7px);
    transition: all 0.3s ease 0s;
  }
  
@media screen and (max-width: 767px) {

    .block__pizza
{
   
    margin: 3px;  
    
}
    .block__content
{
    height: auto;
    display: flex;
    flex-direction: row;
    padding: 7px;
}

.pizza__name,.pizza__price,.pizza__description
{
    font-size: 1em;
}
.pizza__price
{
   margin: 0;
}
.pizza__name
{
    margin-top: 10px;
}
.pizza__photo img
{
    width: 100%;
}
.pizza__photo 
{
    /* border: 1px solid black; */
    width: 50%;
    height: 50%;
}
.pizza__description__block
{
    /* border: 1px solid black; */
    width: 50%;
}
.product__name
{
    font-size: 25px;
}
    }
  /*  */
@media screen and (max-width: 400px) {
.product__name
{
    font-size: 20px;
}
    }